body {
  font-family: 'Nunito', sans-serif;
  background-color: #121b15;
}

.jumbotron {
  margin-top: 20px;
  background-image: url(website-practice/img/coverPhoto.jpg);
  background-color: #092215;

  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;

  color: #5cff9a;
}

nav {
  background-color: #caf5e3;
  color: #010803;

  margin-bottom: 20px;
}

ul {
  display: inline;
}

#space-block1 {
  background-color: #121b15;
}

#about {
  margin-top: 50px;
  background-color: #121b15;
  color: #caf5e3;
}

#contact {
  color: white;
  padding: 20px;
  text-align: center;
}

img {
  height: auto;
  width: auto;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}
