body {
  font-family: 'Nunito', sans-serif;
  background-color: #121b15;
}

.jumbotron {
  margin-top: 20px;
  background-image: url('/img/coverPhoto.jpg');
  background-color: #17234e;

  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;

  color: #caf5e3;
}

nav {
  background-color: #caf5e3;
  color: #121b15;
  margin-bottom: 20px;
}

ul {
  display: inline;
}
#space-block1 {
  background-color: #121b15;
}

#about {
  margin-top: 50px;
  background-color: #121b15;
  color: #caf5e3;
}
